In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/JEOPARDY_CSV.csv')
df.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [3]:
df.columns

Index([u'Show Number', u' Air Date', u' Round', u' Category', u' Value',
       u' Question', u' Answer'],
      dtype='object')

In [4]:
# Remove the dumb spaces
df.columns = ['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question', 'Answer']

In [5]:
df.shape

(216930, 7)

In [6]:
df.dtypes

Show Number     int64
Air Date       object
Round          object
Category       object
Value          object
Question       object
Answer         object
dtype: object

In [7]:
df['Air Date'] = pd.to_datetime(df['Air Date'])

In [8]:
df.sort_values('Air Date').head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
84523,1,1984-09-10,Jeopardy!,LAKES & RIVERS,$100,River mentioned most often in the Bible,the Jordan
84565,1,1984-09-10,Double Jeopardy!,THE BIBLE,$1000,"According to 1st Timothy, it is the ""root of a...",the love of money
84566,1,1984-09-10,Double Jeopardy!,'50'S TV,$1000,Name under which experimenter Don Herbert taug...,Mr. Wizard
84567,1,1984-09-10,Double Jeopardy!,NATIONAL LANDMARKS,$1000,D.C. building shaken by November '83 bomb blast,the Capitol
84568,1,1984-09-10,Double Jeopardy!,NOTORIOUS,$1000,"After the deed, he leaped to the stage shoutin...",John Wilkes Booth

In [9]:
df.sort_values('Air Date').tail()

,Show Number,Air Date,Round,Category,Value,Question,Answer
105947,6300,2012-01-27,Jeopardy!,VISITING THE CITY,$800,There's a great opera house on Bennelong Point...,Sydney
105948,6300,2012-01-27,Jeopardy!,PANTS,"$1,400",Tight-fitting pants patterned after those worn...,toreador pants
105949,6300,2012-01-27,Jeopardy!,CHILD ACTORS,$800,"This kid, with a familiar last name, is seen <...",Jaden Smith
105951,6300,2012-01-27,Jeopardy!,LESSER-KNOWN SCIENTISTS,$800,Joseph Lagrange insisted on 10 as the basic un...,the metric system
105930,6300,2012-01-27,Jeopardy!,PANTS,$200,"A synonym for freight, or pants with large bel...",cargo pants

In [10]:
df.isnull().any()

Show Number    False
Air Date       False
Round          False
Category       False
Value          False
Question       False
Answer         False
dtype: bool

In [11]:
df[df['Value'] == 'None']

,Show Number,Air Date,Round,Category,Value,Question,Answer
55,4680,2004-12-31,Final Jeopardy!,THE SOLAR SYSTEM,None,Objects that pass closer to the sun than Mercu...,Icarus
116,5957,2010-07-06,Final Jeopardy!,HISTORIC WOMEN,None,She was born in Virginia around 1596 & died in...,Pocahontas
174,3751,2000-12-18,Final Jeopardy!,SPORTS LEGENDS,None,If Joe DiMaggio's hitting streak had gone one ...,H.J. Heinz (Heinz 57 Varieties)
235,3673,2000-07-19,Final Jeopardy!,THE MAP OF EUROPE,None,"Bordering Italy, Austria, Hungary & Croatia, i...",Slovenia
296,4931,2006-02-06,Final Jeopardy!,FAMOUS SHIPS,None,"On December 27, 1831 it departed Plymouth, Eng...",the HMS Beagle
357,5690,2009-05-08,Final Jeopardy!,EUROPEAN HISTORY,None,"He filed for divorce citing Leviticus 20:21, ""...",Henry VIII
418,2825,1996-12-06,Final Jeopardy!,BRITISH NOVELS,None,"This 1895 novel is subtitled ""An Invention""",The Time Machine
474,6037,2010-12-07,Final Jeopardy!,FLAGS OF THE WORLD,None,"In use from 1844 to 1905, a flag representing ...",Norway and Sweden
535,5243,2007-05-30,Final Jeopardy!,THE BRITISH THEATRE,None,"Richard Attenborough, who was in the original ...",The Mousetrap
594,3036,1997-11-10,Final Jeopardy!,THE CONSTITUTION,None,"Word completing the line ""Nor shall any person...",Jeopardy
655,4107,2002-06-11,Final Jeopardy!,GEOGRAPHIC PHRASES,None,This common term originated in the early 1500s...,the New World
716,2735,1996-06-21,Final Jeopardy!,AMERICAN HISTORY,None,"On May 29, 1765 Patrick Henry's Stamp Act prot...",Treason!
777,5851,2010-02-08,Final Jeopardy!,RANKS & TITLES,None,"Owain Glyndwr, who died circa 1416, was the la...",Prince of Wales
836,4335,2003-06-06,Final Jeopardy!,CANDY,None,"Bill Harmsen, who raised horses in Colo., happ...",Jolly Rancher
886,4541,2004-05-10,Final Jeopardy!,THE PRESIDENCY,None,"If a president is impeached, this official pre...",the Chief Justice of the United States
945,3834,2001-04-12,Final Jeopardy!,THEATRE,None,"The 1996 musical ""Play On!"" gets its title fro...","\""Twelfth Night\"""
1003,3619,2000-05-04,Final Jeopardy!,FILM CLASSICS,None,This 1951 classic stars the AFI's top picks fo...,The African Queen (Humphrey Bogart & Katharine...
1064,3534,2000-01-06,Final Jeopardy!,NONFICTION AUTHORS,None,"First published in 1946, a book written by thi...","Dr. Benjamin Spock (\""Baby and Child Care\"")"
1125,4085,2002-05-10,Final Jeopardy!,KNOWLEDGE BY THE NUMBERS,None,Number of males who served as British PM in th...,6 (2 + 2 + 2)
1186,1279,1990-03-08,Final Jeopardy!,FAMOUS NAMES,None,He published a history of Virginia & New Engla...,Captain John Smith
1247,1302,1990-04-10,Final Jeopardy!,CABLE TELEVISION,None,The name of this channel can be traced back to...,Nickelodeon
1308,4936,2006-02-13,Final Jeopardy!,THE 50 STATES,None,"Since 1776, it has been the only U.S. state to...",New York
1369,3632,2000-05-23,Final Jeopardy!,ASIA,None,It's Asia's southernmost national capital,Jakarta (Indonesia)
1426,3362,1999-03-30,Final Jeopardy!,WORLD GEOGRAPHY,None,One story says this point was so named becuase...,Cape of Good Hope
1487,4960,2006-03-17,Final Jeopardy!,20th CENTURY BOOKS,None,"Chapter I of this book tells us: ""Worse than t...",Angela's Ashes (by Frank McCourt)
1548,5392,2008-02-05,Final Jeopardy!,19th CENTURY POLITICIANS,None,"As Territories Committee chair, this Midwest s...",Stephen Douglas
1609,5795,2009-11-20,Final Jeopardy!,PRESIDENTIAL ELECTIONS,None,He was the last sitting president to run for r...,William Howard Taft
1670,6118,2011-03-30,Final Jeopardy!,INFLUENTIAL 19th CENTURY THINKERS,None,"At the University of Bonn in 1836, he was woun...",Karl Marx
1731,5580,2008-12-05,Final Jeopardy!,HISTORIC PROPERTY TRANSACTIONS,None,"On May 15, 1768 France bought this island from...",Corsica
1792,4699,2005-01-27,Final Jeopardy!,MOUNTAINS,None,"To trek through its Khumbu Icefall, Lhotse Fac...",Mount Everest
...,...,...,...,...,...,...,...
215201,5167,2007-02-13,Final Jeopardy!,20th CENTURY AUTHORS,None,"This author was born in 1926, the daughter of ...",Harper Lee
215259,3151,1998-04-20,Final Jeopardy!,WORLD BUSINESS,None,The offices of N.M. Rothschild in London fix t...,the price of gold
215319,3865,2001-05-25,Final Jeopardy!,INTERNATIONAL STARS,None,Since 1978 the city of Paris has funded his Ec...,Marcel Marceau
215380,5135,2006-12-29,Final Jeopardy!,BROADWAY,None,In 2006 this show based on a 1911 work became ...,Phantom Of The Opera
215431,3400,1999-05-21,Final Jeopardy!,MOVIE CHARACTERS,None,"Rand Brooks, Carroll Nye & Clark Gable played ...",Scarlett O'Hara
215488,1317,1990-05-01,Final Jeopardy!,U.S. STATES,None,The only U.S. state that borders 4 Great Lakes,"Michigan (borders Huron, Michigan, Erie & Sup..."
215548,4216,2002-12-23,Final Jeopardy!,OSCAR WINNERS,None,She's the first woman to win 2 Best Actress Os...,Luise Rainer
215608,3589,2000-03-23,Final Jeopardy!,MODERN MUSIC,None,"His 1998 ""Greatest Hits"" album made him the fi...",Kenny G
215669,4250,2003-02-07,Final Jeopardy!,THE HISTORY OF CLIFFS NOTES,None,"In 1985 Cliffs Notes' ""The Scarlet Letter"" ret...","\""1984\"""
215729,4394,2003-10-16,Final Jeopardy!,NAME'S THE SAME,None,This sports superstar of 1973 bears the name o...,Secretariat
215790,4720,2005-02-25,Final Jeopardy!,WOOD,None,The remarkable elasticity of yew led to this n...,the longbow
215851,5069,2006-09-28,Final Jeopardy!,HISTORICAL TERMS,None,"Historians refer to ""the long 19th century"", t...",the French Revolution and World War I
215912,6003,2010-10-20,Final Jeopardy!,COUNTRY DEMOGRAPHICS,None,"Because of a policy adopted in 1979, this coun...",China
215965,5876,2010-03-15,Final Jeopardy!,RELIGION,None,"In 1875 she wrote, ""Jesus of Nazareth was the ...",Mary Baker Eddy
216026,1881,1992-11-09,Final Jeopardy!,GEOGRAPHY,None,"Since the breakup of the Soviet Union, this is...",Russia
216086,4364,2003-07-17,Final Jeopardy!,PEOPLE,None,"He said, ""I...really never considered myself a...",Fred Rogers (of Mister Rogers' Neighborhood)
216147,6207,2011-09-20,Final Jeopardy!,NAME'S THE SAME,None,Name shared by a popular world sport & a membe...,cricket
216208,1983,1993-03-31,Final Jeopardy!,MONARCHS,None,In 1942 she become the first reigning queen to...,Wilhelmina
216264,1251,1990-01-29,Final Jeopardy!,ROYALTY,None,If Prince Charles keeps his name when he becom...,Charles III
216325,5236,2007-05-21,Final Jeopardy!,19th CENTURY INVENTORS,None,"He wrote, ""Isn't it the irony of fate that I h...",Alfred Nobel
216384,3919,2001-09-20,Final Jeopardy!,ON THE MAP,None,2 of the 3 countries classified as extending a...,"(2 of) Turkey, Russia, or Egypt"
216445,3644,2000-06-08,Final Jeopardy!,THE BIBLE,None,According to the King James Version of the Bib...,8
216506,5061,2006-09-18,Final Jeopardy!,CASTLES,None,The name of this large home located in Aberdee...,Balmoral Castle
216567,3038,1997-11-12,Final Jeopardy!,SHOPPING U.S.A.,None,The first store of this giant chain opened in ...,Wal-Mart
216628,2046,1993-06-28,Final Jeopardy!,GODS & GODDESSES,None,Augustus Caesar encouraged the worship of this...,Mars
216686,3940,2001-10-19,Final Jeopardy!,MAJOR LEAGUE BASEBALL TEAM NAMES,None,This team received its name after an 1890 inci...,Pittsburgh Pirates
216746,6044,2010-12-16,Final Jeopardy!,SKYSCRAPERS,None,After a construction boom fueled by oil & gas ...,Moscow
216807,5070,2006-09-29,Final Jeopardy!,NATIONAL CAPITALS,None,"This city's website calls it ""the last divided...",Nicosia
216868,5195,2007-03-23,Final Jeopardy!,BESTSELLING AUTHORS,None,He had the year's bestselling novel a record 7...,John Grisham
216929,4999,2006-05-11,Final Jeopardy!,HISTORIC NAMES,None,A silent movie title includes the last name of...,Grigori Alexandrovich Potemkin

In [12]:
df['Value'] = df['Value'].str.replace('$','')
df['Value'] = df['Value'].str.replace(',','')
# df['Value'] = df['Value'].str.replace('None', np.nan)
# df['Value'].astype(int)
df.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [13]:
df['Value']

0          200
1          200
2          200
3          200
4          200
5          200
6          400
7          400
8          400
9          400
10         400
11         400
12         600
13         600
14         600
15         600
16         600
17         600
18         800
19         800
20         800
21         800
22        2000
23         800
24        1000
25        1000
26        1000
27        1000
28        1000
29         400
          ...
216900     400
216901     400
216902     400
216903     400
216904     400
216905     800
216906     800
216907     800
216908     800
216909     800
216910     800
216911    1200
216912    1200
216913    1200
216914    1200
216915    1200
216916    2200
216917    3400
216918    1600
216919    1600
216920    1600
216921    1600
216922    1600
216923    2000
216924    2000
216925    2000
216926    2000
216927    2000
216928    2000
216929    None
Name: Value, dtype: object

In [13]:
from sklearn.feature_extraction.text import CountVectorizer

In [14]:
cvec = CountVectorizer()
cvec.fit(df['Question'])

CountVectorizer(analyzer=u'word', binary=False, decode_error=u'strict',
        dtype=<type 'numpy.int64'>, encoding=u'utf-8', input=u'content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern=u'(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [23]:
words = pd.DataFrame(cvec.transform(np.array(df['Question']),
             columns=cvec.get_feature_names()))

words.transpose().sort_values(0, ascending=False)

TypeError: transform() got an unexpected keyword argument 'columns'